.main {
    padding: 3rem 0;
    color: var(--dark-brown);
}
:global(.dark) .main {
    color: var(--off-white);
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.title {
    opacity: 0;
    transition: opacity 1.5s;
}
.title.show {
    opacity: 1;
}

h1.title {
    text-align: center;
    margin-bottom: 10vh;
}

.iconTitlePair {
    display: flex;
    align-items: center;
}

h2.title {
    margin-left: 1rem;
}

.iconContainer {
    margin-left: 1rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    fill: var(--off-black);
}
:global(.dark) .iconContainer {
    fill: var(--off-white);
}